
<!DOCTYPE html>
<!-- Change the value of lang="en" attribute if your website's language is not English.
You can find the code of your language here - https://www.w3schools.com/tags/ref_language_codes.asp -->
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ alt_seo:meta }}

    <!-- Favicon -->
    <link rel="icon" href="/assets/images/favicon.png" type="image/png" sizes="any">
    <link rel="icon" href="/assets/images/favicon.svg" type="image/svg+xml">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style-responsive.css">
    <link rel="stylesheet" href="/assets/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/splitting.css">
    <link rel="stylesheet" href="/assets/css/YTPlayer.css">
    <link rel="stylesheet" href="/assets/css/demo-main/demo-main.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="/assets/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body class="appear-animate">

<!-- Skip to Content -->
<a href="#main" class="btn skip-to-content">Skip to Content</a>
<!-- End Skip to Content -->

<!-- Page Wrap -->
<div class="page" id="top">
    {{ partial src="parts/header"}}
    {{ template_content }}
    {{ partial src="parts/footer"}}
</div>
<!-- End Page Wrap -->

<!-- JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/contact-form.js"></script>
<script src="/assets/js/all.js"></script>
<!-- End JS -->

</body>
</html>
