<main id="main">
            
                <!-- Header Section -->
    <section class="page-section bg-gray-light-1 bg-light-alpha-90 parallax-5" style="background-image: url(/images/full-width-images/section-bg-1.jpg)">
                    <div class="container position-relative pt-30 pt-sm-50">
                        
                        <!-- Section Content -->
                        <div class="text-center">
                            <div class="row">
                                
                                <!-- Page Title -->
                                <div class="col-md-8 offset-md-2">
                                        
                                    <h1 class="hs-title-1 mb-20">
                                        <span class="wow charsAnimIn" data-splitting="chars">{{title}}</span>
                                    </h1>
                                    
                                    <!-- Author, Categories, Comments -->
                                    <div class="blog-item-data mt-30 mt-sm-10 mb-0 wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="d-inline-block me-3">
                                            <a href="#"><i class="mi-clock size-16"></i><span class="visually-hidden">Date:</span> {{date}}</a>
                                        </div>
                                        <div class="d-inline-block me-3">
                                            <a href="#"><i class="mi-user size-16"></i><span class="visually-hidden">Author:</span> by {{author:name}}</a>
                                        </div>
                                        <div class="d-inline-block me-3">
                                            <i class="mi-folder size-16"></i>
                                            <span class="visually-hidden">Categories:</span>
											{{categories}}<a href="#">{{title}}, </a>{{/categories}}
                                        </div>
                                    </div>
                                    <!-- End Author, Categories, Comments -->
                               
                               </div>
                               <!-- End Page Title -->
                                
                            </div>                            
                        </div>
                        <!-- End Section Content -->
                        
                    </div>           
                </section>
                <!-- End Header Section -->
                
                
                <!-- Section -->
                <section class="page-section">
                    <div class="container relative">
                        
                        <div class="row">
                            
                            <!-- Content -->
                            <div class="col-lg-8 offset-lg-2">
                                
                                <!-- Post -->
                                <div class="blog-item mb-80 mb-xs-40">
                                    
                                    <div class="blog-item-body">
                                    
                                        <!-- Media Gallery -->
                                        <div class="blog-media mb-40 mb-xs-30">
                                            <div class="clearlist content-slider">
                                                <div>
                                                    <img src="{{banner_image}}" alt="Image Description" />
                                                </div>
                                            </div>
                                        </div>                                        
                                        
                                        {{!!blog_content!!}}
    
                                    </div>
                                    
                                </div>
                                <!-- End Post -->
                                
                          <div class="row mt-n60">
                            
                            <div class="col-sm-12 col-lg-12 mt-60">
                                
                                <!-- Widget -->
                                <div class="widget mb-0">
                                                                        
                                    <div class="widget-body">
                                        <div class="tags">
                                            <a href="">Design</a>
                                            <a href="">Portfolio</a>
                                            <a href="">Digital</a>
                                            <a href="">Branding</a>
                                            <a href="">Theme</a>
                                            <a href="">Clean</a>
                                            <a href="">UI & UX</a>
                                            <a href="">Love</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- End Widget -->
                                
                            </div>
                            
                        </div>
                            </div>
                            <!-- End Content -->
                        </div>
                        
                    </div>
					
                </section>
                <!-- End Section -->
                
                
               <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-50">
                        <div class="col-lg-10">
                            <h2 class="section-caption mb-xs-10">Contact Us</h2>
                            <h3 class="section-title mb-0"><span class="wow charsAnimIn" data-splitting="chars">Let’s Secure Your Building in Ahmedabad, Today!</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mb-60 mb-sm-50">
                        <div class="col-sm-6 mb-xs-30 d-flex align-items-stretch">
                            <div class="alt-features-item border-left mt-0 wow fadeScaleIn" data-wow-delay=".3s">
                                <div class="alt-features-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                        <path d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"></path>
                                    </svg>
                                    <div class="alt-features-icon-s">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.445 17.827c-3.684 1.684-9.401-9.43-5.8-11.308l1.053-.519 1.746 3.409-1.042.513c-1.095.587 1.185 5.04 2.305 4.497l1.032-.505 1.76 3.397-1.054.516z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <h4 class="alt-features-title">Say Hello</h4>
                                <div class="alt-features-descr clearlinks">
                                    <div><a href="mailto:{{ brand:email }}">{{ brand:email }}</a></div>
                                    <div>{{ brand:phone_number }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 d-flex align-items-stretch">
                            <div class="alt-features-item border-left mt-0 wow fadeScaleIn" data-wow-delay=".5s">
                                <div class="alt-features-icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                        <path d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"></path>
                                    </svg>
                                </div>
                                <h4 class="alt-features-title">Location</h4>
                                <div class="alt-features-descr">{{ brand:long_address }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-md-6 mb-sm-50">
                    <form class="form contact-form pe-lg-5" id="contact_form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" class="input-lg round form-control" placeholder="Enter your name" pattern=".{3,100}" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="input-lg round form-control" placeholder="Enter your email" pattern=".{5,100}" required="" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" class="input-lg round form-control" style="height: 130px;" placeholder="Enter your message"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="pt-20">
                                    <button class="submit_btn btn btn-mod btn-large btn-round btn-hover-anim" id="submit_btn" aria-controls="result">
                                        <span>Send Message</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-tip pt-20 pt-sm-0 mt-sm-20">
                                    <i class="icon-info size-16"></i>
                                    All fields are required. By sending the form you agree to the <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>.
                                </div>
                            </div>
                        </div>
                        <div id="result" role="region" aria-live="polite" aria-atomic="true"></div>
                    </form>
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="map-boxed">
                        <iframe src="{{brand:gmaps_location}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
           </main>