<!-- Footer -->
<footer class="page-section footer bg-gray-light-1 pb-30">
  <div class="container">
    <div class="row pb-120 pb-sm-80 pb-xs-50">
      <div class="col-md-4 col-lg-3 text-gray mb-sm-50">
        <div class="mb-30"> <img src="{{ brand:dark_logo }}" width="250" height="34" alt="Your Company Logo"> </div>
        <p> Empowering security with advanced technologies, Allied Tech Innovations ensures robust protection with cutting-edge solutions tailored to your needs. </p>
      </div>
      <div class="col-md-7 offset-md-1 offset-lg-2">
        <div class="row mt-n30"> 
          <!-- Footer Widget -->
          <div class="col-sm-4 mt-30">
            <h3 class="fw-title">Our Products</h3>
            <ul class="fw-menu clearlist">
              <li><a href="/security-solutions/boom-barriers">Boom Barriers</a></li>
              <li><a href="/security-solutions/cctv-security-systems">CCTV Security Systems</a></li>
              <li><a href="/security-solutions/metal-detectors">Metal Detectors</a></li>
              <li><a href="/security-solutions/tripod-trustile">Tripod &amp; Turnstile</a></li>
              <li><a href="/security-solutions/door-access-control-systems">Door Access Control Systems</a></li>
              <li><a href="/security-solutions/biometric-attendance-system">Biometric Attendance System</a></li>
            </ul>
          </div>
          <!-- End Footer Widget --> 
          
          <!-- Footer Widget -->
          <div class="col-sm-4 mt-30">
            <h3 class="fw-title">Social Media</h3>
            <ul class="fw-menu clearlist">
              <li> <a href="#" rel="noopener nofollow" target="_blank"> <i class="fa-facebook"></i> Facebook </a> </li>
              <li> <a href="#" rel="noopener nofollow" target="_blank"> <i class="fa-youtube"></i> Youtube </a> </li>
              <li> <a href="#" rel="noopener nofollow" target="_blank"> <i class="fa-pinterest"></i> Pinterest </a> </li>
              <li> <a href="#" rel="noopener nofollow" target="_blank"> <i class="fa-linkedin"></i> LinkedIn </a> </li>
            </ul>
          </div>
          <!-- End Footer Widget --> 
          
          <!-- Footer Widget -->
          <div class="col-sm-4 mt-30">
            <h6>For Enquiries</h6>
            <div class="clearlinks"> <a href="tel:{{ brand:phone_number }}">{{ brand:phone_number }}</a> </div>
            <div class="clearlinks"> <a href="mailto:{{ brand:email }}">{{ brand:email }}</a>
              <hr/>
              <h6>For Service</h6>
              <div class="clearlinks"> <a href="tel:{{ brand:service_phone_number }}">{{ brand:service_phone_number }}</a> </div>
              <div class="clearlinks"> <a href="mailto:{{ brand:service_email }}">{{ brand:service_email }}</a> </div>
            </div>
            <!-- End Footer Widget --> 
            
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Text -->
    <div class="row text-gray">
      <div class="col-md-4 col-lg-3"> <b>© Allied Tech Innovations 2024.</b> </div>
      <div class="col-md-7 offset-md-1 offset-lg-2 clearfix"> <b>Based in Ahmedabad (GJ), India</b> 
        
        <!-- Back to Top Link -->
        <div class="local-scroll float-end mt-n20 mt-sm-10"> <a href="#top" class="link-to-top"> <i class="mi-arrow-up size-24"></i> <span class="visually-hidden">Scroll to top</span> </a> </div>
        <!-- End Back to Top Link --> 
        
      </div>
    </div>
    <!-- End Footer Text --> 
    
  </div>
</footer>
<!-- End Footer --> 
